.portfolio__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
}

#portfolio {
    margin-top: 0;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #ff9c6d;
    /* background-color: #dfddd2; */
}

#portfolio > h5 {
    color: white;
}

#portfolio > h2 {
    color: black;
}

.portfolio__item {
    background: white;
    color: black;
    font-family: system-ui;
    padding: 1.2rem;
    border-radius: 2rem;
    border: 0 solid black;
    transition: var(--transition);
}

.portfolio__item:hover {
    border-color: var(--color-primary-variant);
    border-color: black;
}

.portfolio__item-image {
    border-radius: 1.5rem;
    overflow: hidden;
}

.portfolio__item h3 {
    margin: 1.2rem 0 2rem;
} 

.portfolio__item-cta {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
    font-weight: 500;
}

.portfolio__item-cta:hover {
    font-weight: 700;
}


@media screen and (max-width: 1024px) {
    .portfolio__container {
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }
}


@media screen and (max-width: 600px) {
    .portfolio__container {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}