.about__container {
    display: grid;
    grid-template-columns: 35% 50%;
    gap: 15%;
}

.som {
    color: rgb(13, 13, 195);
}

#about {
    padding-bottom: 45px;
    background: #faf5e4;
}

#about h2 {
    color: black;
    margin-top: 15px;
}

#about > h5{
    margin-top: -128px;
    padding-top: 30px;
    color: black;
}

.about__me {
    width: 80%;
    margin-top: 10%;
    margin-left: 10%;
    aspect-ratio: 1/1;
    border-radius: 2rem;
    background: linear-gradient(
        45deg,
        transparent,
        white,
        transparent
    );
    display: grid;
    place-items: center;
}

.about__me-image {
    
    border-radius: 2rem;
    overflow: hidden;
    transition: var(--transition);
    background: #e3e3e3;
    border: 2.8px solid #27519f;
    border-right-color: rgb(232, 90, 42);
    border-left-color: rgb(232, 90, 42);
}

.about__me-image:hover {
    background: #dfdfdf;
    border-width: 0;
}

.about__cards {
    display: flex;
}

.art {
    margin-right: 10%;
}

.about__card {
    width: 45%;
    height: 7.2rem;

    background: white;
    color: var(--color-bg-variant);
    border: 2px solid #27519f;
    border-right-color: rgb(232, 90, 42);
    border-left-color: rgb(232, 90, 42);

    border-radius: 1rem;
    padding: 1.3rem;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    text-align: center;
    transition: var(--transition);
}

.about__card:hover {
    cursor: default;
}

.about__icon {
    color: rgb(54, 51, 51);
    font-size: 1.5rem;
}

.about__card h5 {
    font-family: system-ui;
    font-size: 1.1rem;
    font-weight: 600;
}

.about__card h5:hover {
    font-weight: 700;
}

.about__card small {
    font-size: 0.8rem;
    font-weight: 500;
    color: black;
}

.about__card small:hover {
    font-weight: 600;
}


.intro {
    margin: 2rem 0 2.6rem;
    color: black;
    text-align: justify;
    font-family: system-ui;
    padding: 1.5rem;
    padding-left: 140px;
    padding-right: 140px;
    font-weight: 500;
}


.internship {
    margin-top: 38px;
    display: flex;
    justify-content: baseline;
}

.intern {
    font-size: 1.1rem;
    font-family: system-ui;
    width: 100%;
    height: 10.2rem;
    text-align: justify;
    background-color: white;
    color: var(--color-bg-variant);
    border: 2px solid #27519f;
    border-right-color: rgb(232, 90, 42);
    border-left-color: rgb(232, 90, 42);
    border-radius: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 0;
    padding-bottom: 0.7rem;
    transition: var(--transition);
}

.intern:hover {
    cursor: default;
}

.intern div {
    text-align: center;
    color: rgb(54, 51, 51);
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.intern li {
    padding-left: 1.8rem;
    font-size: 0.8rem;
    font-weight: 600;
    color: black;
}

.intern li:hover {
    font-weight: 700;
}

.intern h5 {
    font-weight: 600;
    font-size: 1.1rem;
}

.intern h5:hover {
    font-weight: 700;
}

.butt {
    margin: 2rem 0 2.6rem;
    text-align: justify;
    padding: 1.5rem;
    margin-top: -3rem;
    margin-bottom: -10rem;
    margin-left: 140px;
    margin-right: -6rem;

    width: max-content;
    display: inline-block;
    color: var(--color-primary);
    padding: 0.30rem 1.2rem;
    border-radius: 1.5rem;
    cursor: pointer;
    border: 1px solid var(--color-primary);
    transition: var(--transition);
    font-weight: 500;

    background: var(--color-bg-variant);
    color: white;
}

.butt:hover {
    background: var(--color-white);
    color: var(--color-bg);
    border-color: transparent;
}

.icon {
    margin-bottom: -0.5rem;
}

.about2{
    color: rgb(13, 13, 213);
}

/* ####################### MEDIA QUERIES(MEDIUM DEVICES) ########################## */


@media screen and (max-width: 1270px){
    .intern {
        height: 11.2rem;
    }
}


@media screen and (max-width: 1050px){
    .intern {
        height: 12.5rem;
    }
}


@media screen and (max-width: 1024px) {
    .about__container {
        grid-template-columns: 1fr;
        gap: 0;
    }

    .about__me {
        width: 40%;
        margin: 2rem auto 4rem;
    }


    .intro {
        margin: 1rem 0 1.5rem;
        font-weight: 500;
        padding-left: 75px;
        padding-right: 75px;
    }

    .intern {
        height: 10.2rem;
    }
}

@media screen and (max-width: 900px) {
    #about > h5{
        margin-top: -106px;
        padding-top: 40px;
    }

    .intro {
        padding-left: 6.95%;
        padding-right: 6.95%;
        padding-bottom: 0.5rem;
    }

    .butt {
        margin-left: 6.95%;
        margin-right: -2rem;
    }

    .art {
        margin-right: 38px;
    }

    .intern {
        width: 100%;
    }

    .about__me-image {
        border-width: 2.4px;
    }

    .about__card {
        border-width: 1.5px;
    }

    .intern {
        border-width: 1.5px;
    }
}

/* ####################### MEDIA QUERIES(SMALL DEVICES) ########################## */
@media screen and (max-width: 600px) {
    .about__me {
        width: 65%;
        margin: 0 auto 3rem;
    } 

    .about__cards {
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }

    .about__content {
        text-align: center;
    }

    
    .intro {
        margin: 1.5rem 0;
        font-weight: 500;
    }

    .intern {
        width: 100%;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .butt {
        margin-left: 6.95%;
        margin-right: 0;
    }

    
    .about__me-image {
        border-width: 2.1px;
    }

    .about__card {
        border-width: 1.5px;
    }

    .intern {
        border-width: 1.5px;
    }

    #about h2 {
        margin-top: 15px;
    }
}

@media screen and (max-width: 456px){
    .intern {
        height: 11.2rem;
    }
}

@media screen and (max-width: 366px){
    .intern {
        height: 12.2rem;
    }
}