.container.contact__container {
    /* width: 58%; */
    width: 68%;
    display: grid;
    grid-template-columns: 30% 58%;
    gap: 12%;
}

#contact {
    margin-top: 0;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f9ee;
}

.btn2 {
    margin-top: 25px;
    height: 35px;
    padding-bottom: 4.5px;
}

#contact h2 {
    color: black;
}

#contact > h5 {
    color: black;
}

.contact__option h6 {
    color: white;
    font-size: 10px;
    font-weight: 450;
}

.contact__options {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.contact__option {
    background: var(--color-bg-variant);
    padding: 1.2rem;
    border-radius: 1.2rem;
    text-align: center;
    border: 1px solid transparent;
    transition: var(--transition);
    font-family: system-ui;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
}

.conatct__option:hover {
    background: transparent;
    border-color: var(--color-primary-variant);
}

.contact__option-icon {
    font-size: 1.5rem;
}

.contact__option a {
    display: inline-block;
    font-size: 0.9rem;
    color: var(--color-primary);
    font-weight: 500;

}

.contact__option a:hover {
    color: rgb(52, 52, 144);
    font-weight: 700;
}

.contact__option h4 {
    font-size: 20px;
}


/* ############################# FORM ############################# */
form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

input,
textarea {
    width: 100%;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background: white;
    border: 1.4px solid black;
    resize: none;
    color: black;
}

.mobile {
    display: none;
}


.a1{
    margin-bottom: -0.4rem;
}

/* ############################# MEDIA QUERIES(MEDIUM DEVICES) #################################3 */
@media screen and (max-width:1024px) {
    .container.contact__container {
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    .mobile {
        display: none;
    }

    .container.contact__container {
        width: 50%;
    }
}

/* ############################# MEDIA QUERIES(SMALL DEVICES) #################################3 */


@media screen and (max-width:821px) {
    .mobile {
        display: initial;
    }

    .desktop {
        display: none;
    }
}

@media screen and (max-width:600px) {
    .container.contact__container {
        width: var(--container-width-sm);
    }

    .mobile {
        display: run-in;
    }

    .desktop {
        display: none;
    }
}