header {
    height: 640px;
    padding-top: 5rem;
    overflow: hidden;
}

#home {
    background-color: #fffdfb;
}

.header__container {
    text-align: center;
    height: 100%;
    position: relative;
}

header p {
    color: black;
    font-family: Comic sans MS;
    font-weight: 580;
    font-size: 47px;
}

.hello {
    color: black;
}

.text {
    margin-top: 5px;
    color: black;
}

.texti {
    color: black;
}

.cta {
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}


.header__socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 0;
    bottom: 1rem;
    margin-left: 90px;
    
}

.header__socials::after {
    content: "";
    width: 1px;
    height: 2rem;
    background: rgb(47, 47, 135);
}

.header__socials a{
    color: rgb(47, 47, 135);
    font-size: 18px;
}

.header__socials a:hover{
    color: black;
}


.me {
    /* background-color: #f3bc77; */
    background-color: #ff9a3c;
    width: 20rem;
    height: 20rem;
    position: absolute;
    margin-top: 1.5rem;
    border-radius: 12rem 12rem 12rem 12rem;
    overflow: hidden;
    padding: 1.2rem 0.9rem 1.7rem 0.2rem;
}

.me:hover {
    background-color: #f3bc77;
}

/* ################ SCROLL DOWN ############### */

.scroll__down {
    position: absolute;
    right: 2.3rem;
    bottom: 3.2rem;
    transform: rotate(90deg);
    font-weight: 500;
    font-size: 18px;
    margin-right: 30px;
    color: rgb(47, 47, 135);
}

.scroll__down:hover {
    color: black;
}

.sose {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.btn1 {
    width: max-content;
    display: inline-block;
    color: rgb(47, 47, 135);
    padding: 0.30rem 1.2rem;
    border-radius: 1.5rem;
    cursor: pointer;
    border: 1px solid rgb(47, 47, 135);
    transition: var(--transition);
    font-weight: 500;
    background-color: white;
}

.btn1:hover {
    background: var(--color-white);
    color: black;
    border-color: transparent;
    /* border: 1px solid var(--color-primary); */
}

/* ################ MEDIA QUERIES(MEDIUM DEVICES) ############### */
@media screen and (max-width: 1025px) {
    header {
        height: 700px;
        padding-top: 5.6rem;
    }

    .header__socials {
        bottom: 2.4rem;
        margin-left: 80px;
    }

    .scroll__down {
        bottom: 5rem;
        font-size: 16px;
        margin-right: 10px;
    }

    .me {
        width: 20rem;
        height: 20rem;
    }
}

@media screen and (max-width: 900px) {
    header p {
        font-size: 37px;

        font-family: Comic sans MS;
        font-weight: 580;
    }

    header {
        height: 640px;
        padding-top: 6.3rem;
    }

    .me {
        width: 18.1rem;
        height: 18.1rem;
        margin-top: 2rem;
    }

    .header__socials {
        bottom: 2rem;
        margin-left: 80px;
    }

    .scroll__down {
        bottom: 4.8rem;
        font-size: 16px;
        margin-right: 10px;
    }
}

@media screen and (max-width: 800px) {
    header {
        height: 630px;
        padding-top: 8rem;
    }

    .scroll__down {
        margin-right: -10px;
    }

    .me {
        width: 16rem;
        height: 16rem;
        margin-top: 2rem;
        padding: 1rem 0.7rem 1.5rem 0rem;
    }

    .header__socials {
        bottom: 1rem;
        margin-left: 50px;
    }

    .scroll__down {
        bottom: 3.6rem;
        font-size: 16px;
        margin-right: -20px;
    }
}

/* ################ MEDIA QUERIES(SMALL DEVICES) ############### */
@media screen and (max-width: 600px) {
    header {
        height: 500px;
        padding-top: 3.3rem;
    }

    .me {
        width: 14rem;
        height: 14rem;
    }

    .header__socials {
        bottom: 1rem;
        margin-left: 40px;
    }

    .scroll__down {
        bottom: 3.7rem;
        font-size: 16px;
        margin-right: -40px;
    }

    header p {
        font-size: 24px;

        font-family: Comic sans MS;
        font-weight: 580;
    }
}

@media screen and (max-width: 450px) {
    header {
        height: 459px;
    }

    header p {
        font-size: 20px;

        font-family: Comic sans MS;
        font-weight: 580;
    }

    .me {
        width: 12rem;
        height: 12rem;
    }

    .header__socials {
        bottom: 1rem;
        margin-left: 20px;
    }

    .scroll__down {
        bottom: 3.6rem;
        font-size: 16px;
        margin-right: -60px;
    }
}

@media screen and (max-width: 361px) {
    header {
        height: 500px;
    }

    header p {
        font-size: 20px;

        font-family: Comic sans MS;
        font-weight: 580;
    }

    .scroll__down {
        margin-right: -10px;
    }

    .me {
        width: 11rem;
        height: 11rem;
    }

    .header__socials {
        bottom: 1rem;
        margin-left: 10px;
    }

    .scroll__down {
        bottom: 3.7rem;
        font-size: 16px;
        margin-right: -70px;
    }
}

@media screen and (max-width: 300px) {
    header {
        height: 500px;
    }

    .header__socials,
    .scroll__down {
        display: none;
    }

    header p {
        font-size: 20px;

        font-family: Comic sans MS;
        font-weight: 580;
    }

    .scroll__down {
        margin-right: -10px;
    }

    .me {
        width: 11rem;
        height: 11rem;
    }

    .header__socials {
        bottom: -0.2rem;
        margin-left: 20px;
    }

    .scroll__down {
        bottom: 2.7rem;
        font-size: 16px;
        margin-right: -60px;
    }
}